/* App */

/* Timeline */
.vis-timeline {
  border: none;
}

.vis-major {
  font-size: 20px;
}

.vis-item {
  border-color: #E5E5E5;
  background-color: #E5E5E5;
  cursor: pointer;
}

.vis-item-content {
  padding: 0;
  margin: 0;
}


.vis-item.vis-selected {
  background-color: #BFBFBF;
  border-color: #BFBFBF;

}

.vis-item .vis-item-content {
  padding: 0;
}

div.vis-tooltip {
  font-family: 'IBM Plex Mono', monospace;
  box-shadow: none;
  border: none;
  background-color: #E5E5E5;
}

.vis-current-time {
  background-color: #0094ff;
}

/* Nav Bar */
.sidebar {
  width: 100%;
  background-color: #E5E5E5;
  height: 52px;
  position: absolute;
  bottom: 0;
}
